.custom-modal {
    min-width: 46rem;

    .modal-header {
        .modal-title {
            font-size: 2rem;
            font-weight: bold;
        }
    
    }
    
    .modal-footer {
        border-top: none;
        justify-content: center;

        .cancel-btn {
            background-color: transparent;
            border: none;
            font-size: 1.6rem;
            font-weight: 600;
        }
    }
}