.MuiInputBase-root.MuiOutlinedInput-root.Mui-focused {
    .MuiOutlinedInput-notchedOutline {
      border-color: #cc3633;
      border-width: 2px;
    }
}
.MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
    color: #cc3633;
}

.MuiSelect-select {
    line-height: 2rem;
    padding-left: 0;
}

.MuiAutocomplete-root {
    .MuiOutlinedInput-root {
        padding: .8rem;
        border-radius: 2px;
    }
} 

.MuiAutocomplete-popper {
    .MuiAutocomplete-option {
        font-size: 16px;
    }
}

.MuiList-root {
    .MuiMenuItem-root {
        font-size: 2rem;
    }
}

// labeled checkbox
.MuiFormControlLabel-root {
    .MuiSvgIcon-root {
        height: 2.5rem;
        width: 2.5rem;
    }

    .MuiButtonBase-root {
        padding: .5rem;
    }

    .MuiTypography-root {
        font-size: 1.6rem;
    }
}