footer.footer-simple {
    background-color: #f9f9f9;
    .copyright {
        min-height: 6rem;
        text-align: center;
        span {
            font-size: 2rem;
            line-height: 2.4rem;
            color: #9b9b9b;
        }
    }
}