.side-modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 99;
}
#side-modal {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40rem;
    background-color: white;
    z-index: 100;
    padding: 3rem;
    text-transform: none;
    @media (max-width:576px) {
        width: 100%;
    }

    .side-modal-header{
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        .text{
            font-size: 1.8rem;
            line-height: 2.8rem;
            font-weight: 600;
        }
    }

    .side-modal-header-mobile {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
    }

    .side-modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
        @media (max-width:500px) {
            // margin: auto;
        }

        .mid-menu {
            display: flex;
            flex-direction: column;
            margin-top: 17rem;
            @media (max-width:500px) {
                margin: 5rem 0;
            }

            a {
                font-size: 2.8rem;
                line-height: 3.8rem;
                font-weight: 600;
                padding: 0;
                color: #000;
                transform-origin: 0 center;
                transition: ease .2s;
                
                &:hover {
                    background-color: unset;
                    transform: scale3d(1.25,1.25,1.25);
                    transition: ease .2s;
                }
            }
        }
        .mobile-mid-menu {
            padding: 2rem 1rem;
            text-align: center;

            .mid-title {
                font-size: 2rem;
                font-weight: 700;
                color: #cc3633;
                text-transform: uppercase;
            }

            a {
                // color: #cc3633;
                color: #1a1a1a ;
                height: 4rem;
                // transform: scale(1);
                transform-origin: 0 center;
                &:hover {
                    transform: scale3d(1.05,1.05,1.05);
                    font-weight: 700;
                }
            }
        }

        .button-second {
            line-height: 5.4rem;
            margin: 6rem 0;
            color: #fff;
            @media (max-width:500px) {
                margin: 2rem 0;
            }
            &:hover {
                background-color: #d24f4d;
            }
        }
        .log-out {
            margin-top: auto;
        }
    }
}