.subs-banner {
    width: 100%;
    height: 50rem;
    background-color: #1a1a1a;
    @media (max-width: 700px) {
        height: 40rem;
    }
    @media (max-width: 576px) {
        // padding: 5rem 0;
    }

    .slick-slider {
        .slick-prev {
            left: 3rem;
            z-index: 998;
            @media (max-width: 700px) {
               display: none !important;
            }
            &::before {
                font-size: 3rem;
            }
        }

        .slick-next {
            right: 3rem;
            z-index: 998;
            @media (max-width: 700px) {
                display: none !important;
            }
            &::before {
                font-size: 3rem;
            }
        }

        .slick-dots {
            bottom: .5rem;
            .slick-active {
                button {
                    background-color: #cc3633;
                    &::before {
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }
            li {
                margin: 0;
                button {
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background-color: #dadada;
                    &::before {
                        opacity: 0;
                    }
                }
            }
        }

        .slide {
            display: flex !important;
            position: relative;
            .image-wrapper {
                width: 60%;
                height: 50rem;
                overflow: hidden;
                @media (max-width: 900px) {
                    width: 50%;
                }
                @media (max-width: 700px) {
                    width: 100%;
                    height: 40rem;
                }
                img {
                    height: 100%;
                    object-fit: contain;
                }
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40%;
                padding: 0 4rem;
                color: #fff;
                @media (max-width: 900px) {
                    width: 50%;
                }
                @media (max-width: 700px) {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    align-self: center;
                    background-color: rgba($color: #000000, $alpha: .5);
                }
    
                .title {
                    font-size: 3rem;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 700;
                    margin-bottom: 2rem;
                    @media (max-width: 500px) {
                        font-size: 2rem;
                    }
                }

                .description {
                    font-size: 1.7rem;
                    text-align: center;
                    margin-bottom: 2rem;
                    @media (max-width: 500px) {
                        font-size: 1.5rem;
                        letter-spacing: .1rem;
                    }
                }

                .button-second {
                    max-width: 30rem;
                }
            }
        }
    }
}