sickst.ro {
    tls i.poterasu@yahoo.com

    reverse_proxy client:3000 

    @redirect_cms {
        path /cms*
    }
    rewrite @redirect_cms {
        to /cms{uri}
    }

    reverse_proxy /cms* cms:1337
}