.collection-section {
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 3rem;

    .title {
        font-size: 3.8rem;
        line-height: 4.8rem;
        font-weight: 600;
        margin-bottom: 2.4rem;
    }

    .description {
        font-size: 1.6rem;
        line-height: 2.6rem;
        font-weight: 400;
        margin-bottom: 2.4rem;
    }
}

.new-product-section {
    margin: 3rem auto;
    @media (max-width: 950px) {
        margin: 0 auto;
        margin-top: 3rem;
    }
    &--header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            font-size: 3rem;
            font-weight: 600;
            color: #cc3633;
            @media (max-width: 576px) {
                font-size: 2.4rem;
            }
        }
        .view-all {
            font-size: 1.4rem;
            font-weight: 600;
            color: #cc3633;
        }
    }

    &--content {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        overflow-x: auto;
        padding-bottom: 2rem;

        .new-product {
            cursor: pointer;
            min-width: 22rem;
            width: 22rem;
            margin-right: 2rem;
            width: 22rem;
            background-color: #fff;
            box-shadow: 0 .2rem 1rem rgba($color: #3E1223, $alpha: 0.08);
            padding: 2rem;

            &--img-wrapper {
                height: 15rem;
                display: flex;
                justify-content: center;
                overflow: hidden;
                img {
                    height: 100%;
                }
            }

            &--details {
                margin-top: 1rem;
                .name {
                    margin-top: 2rem;
                    font-weight: 600;
                    font-size: 1.6rem;
                }
                .model {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

.top-rated-products {
    margin: 3rem auto;
    padding-top: 3rem;
    padding-bottom: 1rem;
    @media (max-width: 576px) {
        padding-bottom: 0;
        padding-top: 0;
    }
    &--header {
        font-size: 3rem;
        font-weight: 600;
    }

    &--content {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (min-width: 576px) {
            overflow-x: scroll;
            flex-wrap: nowrap;
            padding-bottom: 2rem;
        }

        .top-rated-card {
            display: flex;
            flex-direction: column;
            min-width: 27.5rem;
            width: 30%;
            background-color: #fff;
            border-radius: 0.25rem;
            box-shadow: 0 .2rem 1rem rgba($color: #3E1223, $alpha: 0.08);
            @media (max-width: 576px) {
                width: 100%; 
                &:not(:first-of-type) {
                    margin-top: 2rem;
                }  
            }
            @media (min-width: 576px) {
                &:not(:first-of-type) {
                    margin-left: 2rem;
                }
            }
        }
        
        .product {
            display: flex;
            padding: 1rem 1.5rem;

            &--img-wrapper {
                display: flex;
                justify-content: center;
                height: 7rem;
                width: 7rem;
                text-align: center;
                overflow: hidden;

                img {
                    height: 100%;
                }
            }

            &--details {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding-bottom: .5rem;
                margin-left: .5rem;
                .name {
                    font-size: 1.4rem;
                    font-weight: 600;
                }
                .model {
                    font-size: 1.2rem;
                }
                span {
                    margin-top: auto;
                }
            }
            .product-button {
                display: flex;
                min-width: 6rem;
                align-items: center;
                .product-btn {
                    width: 100%;
                    font-weight: 600;
                    font-size: 1.2rem;
                    line-height: 2.8rem;
                    color: #cc3633;
                    border: solid 1px #cc3633;
                    padding: 0;
                    height: 3rem;
                    border-radius: unset;
                    text-align: center;

                    &:hover,
                    &:active,
                    &:active:focus {
                        background-color: #cc3633;
                        border-color: #cc3633;
                        color: #fff;
                    }
                    &:focus {
                        color: #cc3633;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

.product-filter-section {
    margin: 3rem auto;
    min-height: 70rem;

    &--header {
        font-size: 3rem;
        font-weight: 600;
    }

    &--content {
        margin-top: 2rem;
        display: flex;
        @media (max-width: 640px) {
            flex-direction: column;
        }

        .filters {
            min-width: 20rem;
            @media (max-width: 990px) {
                min-width: 15rem;
            }

            &--desktop {
                position: sticky;
                top: 7rem;
                padding: 2rem 0;
                display: block;
                @media (max-width: 640px) {
                    display: none;
                }

                &:not(:first-of-type) {
                    padding-top: 0;
                }

                .subscription-filter {
                    margin-bottom: 2rem;
                }
                .filter-title {
                    font-size: 1.8rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                .filter-name {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    
                    label {
                        cursor: pointer;
                        padding-left: 1rem;
                        font-size: 1.3rem;
                        line-height: 1.8rem;
                    }
                }

                .subs-filters {
                    list-style: none;

                    li {
                        display: flex;
                    }
                }
            }

            &--mobile {
                display: flex;
                overflow-x: scroll;
                @media (min-width: 640px) {
                    display: none;
                }

                .filter-name {
                    background-color: #d24f4d;
                    border-radius: 2rem;
                    color: #fff;
                    font-size: 1.4rem;
                    padding: .5rem 1.5rem;
                    margin-right: 1rem;
                    cursor: pointer;
                }
            }

            &--mobile::-webkit-scrollbar {
                width: 0;  /* Remove scrollbar space */
                background: transparent;  /* Optional: just make scrollbar invisible */
            }
        }

        .products {
            flex: 1;
        }
    }
}
.filters-modal {
    .modal-header{
        padding: 2rem;
        .modal-title {
            font-weight: 600;
            font-size: 1.6rem;
            margin: auto;
        }
        .btn-close {
            margin: 0;
            background-size: 1.5rem;
        }
    }
    .modal-body {
        background-color: #f9f9f9;
        padding: 0;

        &--filters {
            padding: 0 2rem;
            background-color: #fff;
            border-top: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6;
            
            .field-cb {
                display: flex;
                align-items: center;
                padding: 1rem 0;
                
                .p-checkbox {
                    margin-right: 2rem;
                }
                label {
                    font-size: 1.4rem;
                }
            }
            .field-cb:not(:first-of-type) {
                border-top: 1px solid #dee2e6;
            }
        }

        .p-input-icon-left {
            width: 100%;
            padding: 1rem 2rem;
            background-color: #fff;
            border-bottom: 1px solid #dee2e6;
            margin-bottom: 1rem;

            i {
                left: 2.75rem;
            }
            input {
                width: 100%;
                font-size: 1.4rem;
                background-color: #f9f9f9;
            }
        }
    }
}