.subscription-page {
    flex: 1;
    padding: 5rem 0rem;
    min-width: 40rem;
    background-color: #f9f9f9;
    // @media (max-width: 576px) {
    //     min-width: unset;
    // }

    &--content {
        display: flex;
        justify-content: space-between;
        @media (max-width: 900px) {
            display: block;
        }

        .title {
            font-size: 3.8rem;
            line-height: 4.8rem;
            font-weight: 600;
            margin-bottom: 2.4rem;
        }

        .info {
            font-size: 1.6rem;
            line-height: 2.6rem;
            font-weight: 400;
            margin-bottom: 2.4rem;
        }

        .description {
            width: 45%;
            @media (max-width: 900px) {
                width: 100%;
                margin-bottom: 4rem;
            }
        }
    }

    .payment-info {
        width: 45%;
        @media (max-width: 900px) {
            width: 100%;
            margin-bottom: 4rem;
        }
        .disclaimer {
            font-size: 1.4rem;
            color: #cc3633;
            margin-bottom: 1.2rem;
        }
    
        .safe-checkout {
            padding: 2rem;
            padding-top: 2.4rem;
            margin-bottom: 2rem;
            border: 1px solid #0e960b;
            position: relative;
            text-align: center;
            width: 46rem;
            @media (max-width: 460px) {
                width: 36rem;
                padding: 0;
            }
    
            .title {
                position: absolute;
                left: 50%;
                top: 0;
                background-color: #f9f9f9;
                padding: 0 2rem;
                color: #0e960b;
                font-size: 1.4rem;
                font-weight: 600;
                transform: translate(-50%, -50%);
                @media (max-width: 460px) {
                    font-size: 1.1rem;
                    line-height: 1;
                }
            }
        }
        .payment-security {
            svg {
                margin-right: 1rem;
            }
            .title {
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                margin: 0;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
}