@import './register_page.scss'; 

.main-content {
    flex: 1;
    background-color: #f9f9f9;
}

.account-main-body {
    display: flex;
    padding: 5rem 4rem;

    .nav-section {
        // width: 15%;
        min-width: 15%;

        .user-info {
            padding-bottom: 2rem;
            border-bottom: 1px solid #e6e6e6;

            .user-avatar {
                background-image: url('../../public/img/svg/male_avatar.svg');
                background-size: contain;
                width: 10rem;
                height: 10rem;
                margin-bottom: 1.2rem;
            }

            .user-name {
                font-size: 1.8rem;
                line-height: 2.8rem;
                font-weight: 600;
                margin-bottom: .8rem;
            }

            .joined-date {
                font-size: 1.4rem;
                line-height: 2.4rem;
                font-weight: 400;
            }
        }

        .nav-menu {
            padding: 0;

            .nav-link {
                padding: 0;
                font-size: 1.6rem;
                line-height: 2.6rem;
                margin-top: 1.6rem;
                color: #141414;
                display: flex;
                
                &-btn {
                    color: #141414;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }

            .nav-link.active {
                .nav-link-btn {
                    color: #cc3633;
                }
            }
        }
    }

    .content {
        display: flex;
        flex: 1;
        margin-left: 4rem;

        .quick-tips {
            padding: 2rem 3rem;
            background-color: #fff;
            max-width: 40rem;
            align-self: flex-start;
            border-radius: .5rem;
            box-shadow: rgba($color: #000000, $alpha: .15) 0 2px 5px;

            .title {
                font-size: 1.2rem;
                line-height: 2.2rem;
                margin-bottom: 1.6rem;
            }

            .item {
                .title {
                    font-size: 2rem;
                    line-height: 3rem;
                }
                .details {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }

            .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
                opacity: 0;
            }

            button {
                &::before {
                    border-radius: 50%;
                    color: #cc3633;
                }
            }
        }

        .dnd-list {
            flex: 1;
            margin-left: 2rem;
            background-color: #fff;

            .subscriptions-list {
                li {
                    border: solid 1px red;
                    margin: 2rem 0;
                }
            }
        }
    }
}