@import './register_page.scss'; 

.main-content {
    flex: 1;
    background-color: #f9f9f9;
}

.account-main-body {
    display: flex;
    padding: 5rem 4rem;
    @media (max-width: 600px) {
        padding: 3rem 4rem;
    }
    @media (max-width: 400px) {
        padding: 3rem 2rem;
    }

    .nav-section {
        min-width: 15%;
        min-width: 15rem;
        @media (max-width: 600px) {
            display: none;
        }

        .user-info {
            padding-bottom: 2rem;
            border-bottom: 1px solid #e6e6e6;

            .user-avatar {
                background-image: url('../../public/img/svg/male_avatar.svg');
                background-size: contain;
                width: 10rem;
                height: 10rem;
                margin-bottom: 1.2rem;
            }

            .user-name {
                font-size: 1.8rem;
                line-height: 2.8rem;
                font-weight: 600;
                margin-bottom: .8rem;
            }

            .joined-date {
                font-size: 1.4rem;
                line-height: 2.4rem;
                font-weight: 400;
            }
        }

        .nav-menu {
            padding: 0;

            .nav-link {
                padding: 0;
                font-size: 1.6rem;
                line-height: 2.6rem;
                margin-top: 1.6rem;
                color: #141414;
                display: flex;
                
                &-btn {
                    color: #141414;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }

            .nav-link.active {
                .nav-link-btn {
                    color: #cc3633;
                }
            }
        }
    }

    .content {
        display: flex;
        flex: 1;
        margin-left: 4rem;
        @media (max-width:1100px) {
            flex: 1;
            flex-direction: column;
        }
        @media (max-width:600px) {
            margin-left: 0;
        }

        .user-info-mobile {
            margin: 0 auto;
            margin-bottom: 2rem;
            display: flex;

            .user-avatar {
                width: 10rem;
                height: 10rem;
                @media (max-width: 400px) {
                    width: 8rem;
                    height: 8rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .user-details {
                margin: auto 2rem;

                .name {
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    font-weight: 600;
                    margin-bottom: .8rem;
                    @media (max-width: 400px) {
                        font-size: 1.6rem;
                        line-height: 2.6rem;
                        margin-bottom: .3rem;
                    }
                }

                .joined-date, .subscription-status {
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                    font-weight: 400;
                    @media (max-width: 400px) {
                        font-size: 1.2rem;
                        line-height: 2.2rem;
                    }
                }
            }
        }

        .quick-tips {
            padding: 2rem 3rem;
            background-color: #fff;
            max-width: 44rem;
            align-self: flex-start;
            border-radius: .5rem;
            box-shadow: rgba($color: #000000, $alpha: .15) 0 2px 5px;

            .title {
                font-size: 1.2rem;
                line-height: 2.2rem;
                margin-bottom: 1.6rem;
            }

            .item {
                padding: 0 1.5rem;

                .title {
                    font-size: 2rem;
                    line-height: 3rem;
                }
                .details {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }

            .slick-next {
                right: -1.7rem;
            }
            .slick-prev {
                left: -1.7rem;
            }

            .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
                opacity: 0;
            }

            button {
                &::before {
                    border-radius: 50%;
                    color: #cc3633;
                }
            }
        }

        .dnd-list {
            min-width: 33rem;
            @media (max-width:1100px) {
                margin-top: 2rem;
                padding: 0;
            }
            @media (max-width: 400px) {
                min-width: unset;
            }

            .subscriptions-list {
                list-style-type: none;
                @media (max-width:1100px) {
                    padding: 0;
                }

                li {
                    display: flex;
                    padding: 2rem 1rem;
                    border-radius: .5rem;
                    margin-bottom: 2rem;
                    max-width: 45rem;
                    box-shadow: rgba($color: #000000, $alpha: .15) 0 2px 5px;
                    background-color: #fff;
                    cursor: pointer;
                    @media (max-width:600px) {
                        max-width: unset;
                    }

                    .image-wrapper {
                        height: 10rem;
                        width: 10rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        position: relative;
                        @media (max-width: 400px) {
                            height: 8rem;
                            width: 8rem;
                        }

                        img {
                            height: 100%;
                        }

                        .plus {
                            position: absolute;
                            right: 1rem;
                            top: 3.5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 3rem;
                            height: 3rem;
                            background-color: #cc3633;
                            border-radius: 50%;
                        }
                    }

                    .details {
                        margin-left: .8rem;
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        position: relative;

                        .title {
                            display: flex;

                            .brand {
                                font-size: 1.8rem;
                                font-weight: 600;
                                color: #cc3633;
                                text-transform: uppercase;
                                margin-right: auto;
                                @media (max-width: 400px) {
                                    font-size: 1.5rem;
                                }
                            }

                            .date {
                                font-size: 1.4rem;
                                line-height: 2.6rem;
                                font-weight: 600;
                                text-transform: uppercase;
                                @media (max-width: 400px) {
                                    line-height: 2.4rem;
                                    margin-left: .5rem;
                                }
                            }
                        }

                        .model {
                            font-size: 1.6rem;
                            margin-top: .8rem;
                            @media (max-width: 400px) {
                                font-size: 1.4rem;
                            }
                        }

                        .link {
                            display: block;
                            margin-top: auto;
                            font-size: 1.4rem;
                            font-weight: 600;
                            color: #cc3633;
                            text-transform: uppercase;
                            @media (max-width: 400px) {
                                font-size: 1.2rem;
                            }

                            svg {
                                @media (max-width: 400px) {
                                    width: 1.6rem;
                                    height: 1.6rem;
                                }
                            }
                        } 

                        .move {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }
    }
}