.manage-subscription {
    display: flex;
    flex: 1;
    justify-content: space-between;
    @media (max-width:1151px) {
        flex: 1;
    }
    @media (max-width: 1150px) {
        flex-direction: column;
    }

    .unsubscriber {
        flex: 1;

        .benefits {
            margin-top: 3rem;

            .title {
                font-size: 1.8rem;
            }

            ul {
                list-style: none;
                padding-left: unset;
                li {
                    margin: 2rem 0;
                    font-size: 1.4rem;
                }
            }
        }
    }

    .plan-description, .service-description {
        .title {
            color: #141414;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        p {
            font-size: 1.6rem;
        }
    }

    .service-description {
        @media (max-width:1150px) {
            display: flex;
        }
        @media (max-width:900px) {
            display: block;
        }


        .delivery-details {
            @media (max-width:1150px) {
                margin-right: 7rem;
            }
            @media (max-width:900px) {
                margin-right: 0;
                margin-bottom: 3rem;
            }
        }

        .MuiPickersLayout-contentWrapper {
            background-color: #fff;
            box-shadow: rgba($color: #000000, $alpha: 0.15) 0 2px 5px;
            min-width: 32rem;
            margin-top: 3rem;
            @media (max-width:1150px) {
                margin-top: 0;
            }
            @media (max-width:900px) {
                margin: 0;
            }

            .MuiPickersCalendarHeader-label {
                font-size: 1.6rem;
                font-weight: 600;
            }
            .MuiPickersDay-dayWithMargin, .MuiDayCalendar-weekDayLabel {
                font-size: 1.2rem;
                font-weight: 600;
            }
            .MuiPickersDay-today {
                background: rgba($color: #d24f4d, $alpha: .8);
                border: 1px solid rgba($color: #d24f4d, $alpha: 0.8) ;
                color: #fff;
            }
            .Mui-selected {
                background: rgba($color: #d24f4d, $alpha: .8);
                border: 1px solid rgba($color: #d24f4d, $alpha: 0.8) ;
                color: #fff;
            }
        }
    }

    .left-side {
        width: 100%;
        .subscriber-banner {
            flex: 1;
            background-color: #fff;
            color: #53657B;
            box-shadow: rgba($color: #000000, $alpha: 0.15) 0 2px 5px;
            padding: 3rem;
            margin-bottom: 3rem;
            border-radius: 0.5rem;
            
            .title {
                font-size: 1.8rem;
                font-weight: 600;
            }

            .subscription-type {
                font-size: 2.8rem;
                font-weight: 600;
                display: flex;
                margin: 2.4rem 0;
                color: #141414;
                @media (max-width: 730px) {
                    flex-direction: column;
                }

                .type {
                    display: flex;
                }

                .tag {
                    font-size: 1.8rem;
                    height: max-content;
                    flex-grow: 0;
                    color: #cc3633;
                    margin-left: 3rem;
                    margin-top: .4rem;
                    padding: .4rem 1rem 0 1rem;
                    border-radius: 1rem;
                    background-color: rgba($color: #d24f4d, $alpha: .25);
                }

                .banner-buttons {
                    margin-left: auto;
                    @media (max-width: 730px) {
                        margin-left: unset;
                        margin-right: auto;
                        margin-top: 1.4rem;
                    }

                    .button-second {
                        padding: 0 3rem;
                        font-size: 1.8rem;
                        line-height: 3.8rem;
                        margin-bottom: 1.6rem;
                    }
                    
                    .button-primary {
                        color: #cc3633;
                        transition: ease .5s;
                        line-height: 3.8rem;

                        &:hover,
                        &:active {
                            color: #fff;
                        }
                        &:focus {
                            color: #cc3633;
                            background-color: #fff;
                        }
                    }
                }
            }

            .status-wrapper {
                font-size: 1.8rem;
                font-weight: 600;
                
                .status {
                    display: flex;
                    align-items: center;
                    margin: 1.6rem 0;
                }
            }

            .active {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.4rem;
                height: 2.4rem;
                background-color: #0e960b;
                border-radius: 50%;
                margin-right: 1.6rem;
                transform: translateY(-0.2rem);
            }

            .cancelled {
                margin-right: 1.6rem;
                transform: translateY(-0.2rem) rotate(90deg);
            }
    
           .text {
            font-size: 1.8rem;
           }
        }

        @media (max-width: 990px) {
            padding-right: 0;
        }
        @media (max-width: 600px) {
            padding: 0;
        }

        .text-update {
            font-size: 1.8rem;
            margin: 4rem 0;
        }

        .btn-wrapper {
            max-width: 40rem;
        }
    }

    .dnd-list {
        min-width: unset;
        width: 100%;
        max-width: 36rem;
        padding-left: 5rem;
        // @media (max-width:1100px) {
        //     padding: 0;
        //     max-width: 31rem;
        //     margin-left: 2rem;
        // }
        @media (max-width: 1200px) {
            max-width: 38rem;
        }
        @media (max-width: 1150px) {
            margin: 3rem 0;
            max-width: unset;
            padding-left: 0;
        }
        @media (max-width: 600px) {
            padding: 0;
        }

        .quick-tips {
            padding: 2rem 3rem;
            background-color: #fff;
            max-width: 44rem;
            align-self: flex-start;
            border-radius: .5rem;
            box-shadow: rgba($color: #000000, $alpha: .15) 0 2px 5px;

            .title {
                font-size: 1.2rem;
                line-height: 2.2rem;
                margin-bottom: 1.6rem;
            }

            .item {
                padding: 0 1.5rem;

                .title {
                    font-size: 2rem;
                    line-height: 3rem;
                }
                .details {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }

            .slick-next {
                right: -1.7rem;
            }
            .slick-prev {
                left: -1.7rem;
            }

            .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
                opacity: 0;
            }

            button {
                &::before {
                    border-radius: 50%;
                    color: #cc3633;
                }
            }
        }

        .skeleton {
            margin-top: 3rem;

            span {
                margin-bottom: 1rem;
            }
        }

        .subscriptions-list {
            list-style-type: none;
            margin-top: 3rem;
            padding: 0;
            @media (max-width:1100px) {
                padding: 0;
            }

            .dnd-card {
                position: relative;
                display: flex;
                padding: 2rem 1rem;
                border-radius: .5rem;
                margin-bottom: 2rem;
                max-width: 45rem;
                box-shadow: rgba($color: #000000, $alpha: .15) 0 2px 5px;
                background-color: #fff;
                cursor: pointer;
                @media (max-width:600px) {
                    max-width: unset;
                }

                .image-wrapper {
                    height: 10rem;
                    width: 10rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    position: relative;
                    @media (max-width: 400px) {
                        height: 8rem;
                        width: 8rem;
                    }

                    img {
                        height: 100%;
                    }

                    .plus {
                        position: absolute;
                        right: 1rem;
                        top: 3.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 3rem;
                        height: 3rem;
                        background-color: #cc3633;
                        border-radius: 50%;
                    }
                }

                .details {
                    margin-left: .8rem;
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    position: relative;

                    .title {
                        display: flex;

                        .brand {
                            font-size: 1.8rem;
                            font-weight: 600;
                            color: #cc3633;
                            text-transform: uppercase;
                            @media (max-width: 400px) {
                                font-size: 1.5rem;
                            }
                        }

                    }
                    
                    .model {
                        display: flex;
                        font-size: 1.6rem;
                        margin-top: .8rem;
                        @media (max-width: 400px) {
                            font-size: 1.4rem;
                        }

                        .date {
                            font-size: 1.4rem;
                            line-height: 1.6rem;
                            font-weight: 600;
                            text-transform: uppercase;
                            margin-left: auto;
                            @media (max-width: 400px) {
                                line-height: 2.4rem;
                                margin-left: .5rem;
                            }
                        }
                    }

                    .link {
                        display: block;
                        margin-top: auto;
                        font-size: 1.4rem;
                        font-weight: 600;
                        color: #cc3633;
                        text-transform: uppercase;
                        @media (max-width: 400px) {
                            font-size: 1.2rem;
                        }

                        svg {
                            @media (max-width: 400px) {
                                width: 1.6rem;
                                height: 1.6rem;
                            }
                        }
                    } 

                    .move {
                        position: absolute;
                        right: 0;
                        top: 65%;
                        transform: rotate(90deg);
                    }
                }

                .remove-card {
                    position: absolute;
                    top: .4rem;
                    right: .4rem;
                    border: unset;
                    background-color: transparent;
                }
            }
        }
    }
}