.products-section {
    width: 100%;
    background-color: #f9f9f9;
    padding: 3rem 0;
    @media (max-width:700px) {
        padding: 3rem 0 6rem 0;
    }
    @media (max-width:500px) {
        padding: 0;
        padding-top: 3rem;
    }

    .container {
        padding: 0;
        .title {
            font-size: 2.8rem;
            line-height: 3.8rem;
            font-weight: 600;
            padding: 0 3rem;
            margin-bottom: 1rem;
        }

        .filtertabs {
            margin: 0 3rem;
            @media (max-width:700px) {
                margin: 0 2rem;
            }
            
            .p-tabview-nav {
                background-color: transparent;
                font-size: 1.6rem;
                li {
                    border-color: transparent;
                    &:hover {
                        .p-tabview-nav-link {
                            background: transparent !important;
                        }
                    }
                    a {
                        background-color: transparent;
                    }
                }
            }

            .p-tabview-nav-link {
                border: unset;
                &:focus {
                    box-shadow: unset !important;
                }
            }

            
            .p-tabview-ink-bar {
                background-color: #cc3633;
            }
        }
    }

    .p-tabview {
        .p-tabview-panels {
            background-color: transparent;
            padding: 1.25rem 0;
        }
    }

    .more-prod {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 6rem;
        @media (max-width:990px) {
            margin-top: 4rem;
        }
        @media (max-width:540px) {
            margin-top: 2rem;
        }

        & > button {
            max-width: 250px;
        }
    }
}