@import './product_details';
@import './product_reviews';

.product-details-content {
    padding: 5rem 4rem;
    flex: 1;
    background-color: #f9f9f9;

    @media (max-width: 700px) {
        padding: 4rem 2rem;
    }
}

.loader,
.no-product {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 5rem;

    span {
        margin-left: 2rem;
    }
}

.slider {
    background-color: #f9f9f9;
    padding: 5rem 3rem;
    .item > img {
        max-height: 250px;
    }
    .slick-slider {
        padding: 0 1.6rem;
    }
    .slick-next {
        background-color: #fff;
        &::before {
            background-color: #cc3633;
            opacity: 1;
        }
    }
}
.slick-slide img {
    margin: auto;
  }